<html>
    <head>
        <title>chess</title>
        
        <script type="text/javascript" src="/static/jquery-2.1.0.js"></script>
        <script type="text/javascript" src="/static/jquery.chessBoard.js"></script>
        
        <script type="text/javascript">
        
            $(document).ready(function() {
                var cb1;
                cb1 = $('#chessBoard1').chessBoard({
                    'onClick': function(ctx) {
                        ctx.toggleHighlight();
                        
                        alert(ctx.name);
                    },
                    
                    'css': {
                        'border': '1px solid lightgray',
                        'fontFamily': 'Arial',
                        'darkColor': 'red',
                    },
                    
                    'setStartPosition': true,
                });
            });
        
        </script>
    </head>
    
    <body>
        <div id="chessBoard1"></div>
    </body>
</html>
