<html>
    <head>
        <title>chess js </title>
        <!-- https://chessboardjs.com/examples#4005 --> 
        <link rel="stylesheet" type="text/css" href="static/chessboard-1.0.0.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>        
        <script type="text/javascript" src="static/chessboard-1.0.0.min.js"></script>
        
        <div id="board" style="width: 400px"></div>
        <button id="startBtn">Start Position</button>
        <button id="clearBtn">Clear Board</button>
        <button id="SendMsg">Send</button>

        <script type="text/javascript"> 
          
            var position1 = 'r1bqkbnr/pppp1ppp/2n5/1B2p3/4P3/5N2/PPPP1PPP/RNBQK2R';

            var board = Chessboard('board', 
                            {position: 'start',
                            draggable: true,
                            showNotation: false,
                            onDrop: onDrop
                        })
            
            function sendMove() {
                $.get('/move', {'from': board.fen()}, function(r) {console.log('resp' + r, board.fen())});     
            } 

             // snapback black pieces when they are dropped
            function onDrop (source, target, piece, newPos, oldPos, orientation) {
                if (piece.search(/b/) !== -1) {
                    return 'snapback'
                }
            }

            $('#startBtn').on('click', board.start)
            $('#clearBtn').on('click', board.clear)
            $('#SendMsg').on('click', sendMove)

               </script>
    </head>
    
    <body>
        <div id="chessBoard1"></div>
    </body>
</html>
